html{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://images.pexels.com/photos/4100130/pexels-photo-4100130.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
}
::selection{
    background-color: rgb(85, 4, 31);
    color: white;
}
.header{
    position: fixed;
    z-index: 1;
    top:0;
    left: 0;
    right: 0;
    height: 90px;
    background-color: #222328;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.header-name{
    margin: auto;
    font-size: 45px;
    font-weight: 700;
    color: white;
}
.header-list{
    color: #ccc;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    column-gap: 2rem;
    font-size: 18px;
    margin: auto;
}
.header-list li:hover{
    transform: scale(1.2);
}
.main{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    padding: 20px;
    background-color: rgba(0,0,0,0.3);
    margin-left: 50%;
    transform: translateX(-50%);
}
.main-title{
    font-size: 35px;
    font-weight: 700;
    color: white;
    margin-bottom: 16px;
}
.main-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.col1{
    width: 45%;

}
.content-title{
    color: white;
    font-weight: 600;
    font-size: 30px;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}
.content-sub{
    color: rgb(219, 150, 162);
    text-transform: uppercase;
    font-weight: 600;   
    position: relative;
    padding-left: 20px;
}
.content-sub i{
    position: absolute;
    font-size: larger;
    margin-left: -22px;
}
.content-text{
    font-style: italic;
    color: white;
    padding-left: 20px;
    padding-top: 16px;
    border-left: rgb(209, 208, 208) solid;
    margin-left: 6px;
}
.content-list{
    padding-left: 20px;
    padding-top: 16px;
    border-left: rgb(209, 208, 208) solid;
    margin-left: 6px;
    padding-bottom:10px;
    color: white;
    line-height: 25px;
}
.content-list li{
    margin-bottom: 10px;
}
.box-in-edu{
    padding-left: 20px;
    padding-top: 16px;
    border-left: rgb(209, 208, 208) solid;
    margin-left: 6px;
    padding-top: 16px;
    color: white;
    width: 6rem;
    text-align: center;
    height: 30px;
    line-height: 30px;
    background-color: rgba(255,255,255,0.4);
    background-clip: content-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
}
.edu-content{
    padding-left: 20px;
    border-left: rgb(209, 208, 208) solid;
    margin-left: 6px;
    padding-bottom:30px;
    color: white;
}